#!/bin/sh

# function to prepend fpath if dir exists
__prepend_fpath() {
    if [ $# -ne 1 ]; then
        echo "Usage: $0 <path>"
        return 1
    elif [ ! -d "$1" ]; then
        printf "%s Error:\n\t%s is not a directory" "$0" "$1"
        return 1
    elif [ -d "${1}" ] && echo "${SHELL}" | grep -q "zsh"; then
        _escaped=$(echo "${1}" | sed 's#\/#\\/#g')
        _cleaned=$(echo "$FPATH" | sed "s#:${_escaped}:#:#g")
        export FPATH="${1}${_cleaned:+:$_cleaned}"
        unset _escaped _cleaned
    fi
}

# function to prepend path if dir exists
__prepend_path() {
    if [ $# -ne 1 ]; then
        echo "Usage: $0 <path>"
        return 1
    elif [ ! -d "$1" ]; then
        printf "%s Error:\n\t%s is not a directory" "$0" "$1"
        return 1
    else
        _escaped=$(echo "${1}" | sed 's#\/#\\/#g')
        _cleaned=$(echo "$PATH" | sed "s#:${_escaped}:#:#g")
        export PATH="${1}${_cleaned:+:$_cleaned}"
        unset _escaped _cleaned
    fi
}

# function to initialize brew
__brew_init() {
    if [ $# -ne 1 ]; then
        echo "Usage: __brew_init <brew_prefix>"
        return 1
    elif [ -x "${1}/bin/brew" ]; then
        eval "$("${1}/bin/brew" shellenv)"
        export HOMEBREW_BUNDLE_FILE="${HOME}/.Brewfile"
        __prepend_fpath "${HOMEBREW_PREFIX}/share/zsh/site-functions"
        __prepend_fpath "${HOMEBREW_PREFIX}/share/zsh-completions"
    fi
}
