[user]
	email = mauwii@outlook.de
	name = Matthias Wild
	signingkey = B7051959
[core]
	excludesfile = ~/.gitignore_global
[pull]
	rebase = false
	ff = true
[push]
	default = current
[diff]
	tool = vscode
	rename = true
[difftool "vscode"]
	cmd = code --new-window --wait --diff --new-window $LOCAL $REMOTE
[init]
	defaultBranch = main
[color]
	ui = auto
[commit]
	gpgsign = true
[fetch]
	prune = false
